.Nosotros-container-wrapper {
  display: flex;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}

app-nosotros-tarjetas {
  width: 100%;
}

@media (max-width: 320px) {
  .Nosotros-container-wrapper {
    width: 100%;
    flex-direction: column;
    border-radius: 0px;
  }
}

@media (321px <= width <= 426px) {
  .Nosotros-container-wrapper {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 427px) and (max-width: 768px) {
  .Nosotros-container-wrapper {
    display: flex;
    width: 100%;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .Nosotros-container-wrapper {
    display: flex;
    width: 80%;
  }

}
