.Nosotros-container-wrapper {
  display: flex;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}


.Nosotros-container-item,
.Nosotros-bg-nosotros,
.Nosotros-bg-nosotros {
  position: relative;
}

.Nosotros-container-item {
  width: 50%;
  height: 30rem;
}

.Nosotros-bg-nosotros {
  width: 100%;
}

.Nosotros-bg-nosotros {
  height: 50%;
  overflow: hidden;
}

.bg-imagen-nosotros,
.bg-imagen-objetivo {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  transition: all 0.8s ease;
}

.bg-imagen-nosotros {
  background-image: url("https://seyalexander.github.io/DevPuririkuy/assets/img/nosotros.jpg");
  background-size: cover;
  background-position-y: center;
}

.bg-imagen-objetivo {
  background: url("https://seyalexander.github.io/DevPuririkuy/assets/img/objetivos.jpg") no-repeat;
  background-size: cover;
  background-position-y: center;
}

.Nosotros-bg-nosotros h3 {
  position: absolute;
  z-index: 40;
  bottom: 0;
  color: white;
  font-size: 42px;
  padding-left: 1rem;
}

.container-texto {
  padding: 2rem 2rem;
}

.container-texto p {
  color: #494949;
}

.Nosotros-container-item:hover .bg-imagen-nosotros,
.Nosotros-container-item:hover .bg-imagen-objetivo {
  width: 120%;
  transition: all 1s ease;
}

@media (max-width: 426px) {
  .Nosotros-container-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .Nosotros-container-item {
    width: 100%;
    height: 30rem;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
