<app-otros-servicios-header
  [textoDetalle]="
    'En Puririkuy no solo nos dedicamos a la venta de paquetes turísticos y boletos aéreos, sino que la misión más importante de nuestro personal es asesorar a nuestros clientes para ofrecerles los productos y servicios que sean los más adecuados a sus necesidades e intereses.'
  "
/>
<div class="servicios-container-items">
  <app-otros-servicios-tarjeta [precioTarjeta]="'Servicios aereos'" />
  <app-otros-servicios-tarjeta [precioTarjeta]="'Servicios transporte'" />
  <app-otros-servicios-tarjeta [precioTarjeta]="'Servicios alojamiento'" />
</div>
