<div class="principal">
  <!-------------------------------- NAV-BAR  -------------------------------->
  <app-navigate />

  <!-------------------------------- APARTADO INICIO  -------------------------------->
  <article class="Inicio">
    <div class="container-inicio" id="inicio-principal">
      <img src="https://seyalexander.github.io/DevPuririkuy/assets/img/bg-portada-principal.png" alt="" />
    </div>
  </article>

  <article class="Nostros" id="nosotros-principal">
      <app-nosotros [dataNosotros]="datosNosotros"/>
  </article>

  <article class="Servicios" id="servicios-pricipal">
    <app-servicios [dataDatosServicios]="datosServicios"/>
  </article>

   <article class="Destino" id="destinos-principal">
    <app-destinos [dataDestinos]="datosDestinos"/>
  </article>

  <article class="Promociones" id="promociones-principal">
    <app-promociones />
  </article>

  <article class="ventajas" id="ventajas-principal">
    <app-ventajas />
  </article>

  <app-footer />
</div>
