@media (max-width: 426px) {
  li {
    display: none;
  }

  /*---------------------------- INICIO -----------------------------*/

  .Inicio {
    height: 90vh;
    margin-bottom: 2rem;
  }

  .container-inicio {
    height: 100%;
    overflow: hidden;
  }

  .container-inicio img {
    width: fit-content;
    height: 100%;
    filter: brightness(45%);
  }

  /*---------------------------- NOSOTROS -----------------------------*/

  .Nostros {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .Nosotros-container-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .Nosotros-container-item {
    width: 100%;
    height: 30rem;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /*---------------------------- SERVICIOS -----------------------------*/

  .Servicios {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0px;
  }

  .servicios-encabezado {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicios-titulo {
    font-size: 3rem;
  }

  .servicio-descripcion {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  .servicios-container-items {
    width: 100%;
    gap: 0.5rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  app-servicios-tarjeta {
    width: 48%;
  }

  /*---------------------------- DESTINO -----------------------------*/

  .Destino {
    width: 100%;
    margin: 2rem 0;
    gap: 1rem;
    padding: 1rem 1rem;
  }

  .destino-encabezado {
    flex-direction: column;
    justify-content: center;
    pad: 0 1rem;
  }

  .destino-container-title {
    text-align: center;
  }

  .destino-titulo {
    display: inline-block;
    font-size: 3rem;
  }

  .destino-descripcion {
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
  }

  .destino-container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
    justify-content: center;
  }

  /*---------------------------- PROMOCIONES -----------------------------*/

  .Promociones {
    flex-direction: column;
    padding: 1rem 0px;
    gap: 1rem;
  }

  .promociones-container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
    justify-content: center;
  }

  .promociones-titulo {
    font-size: 3rem;
  }

  app-promociones-tarjeta {
    width: 47%;
  }

  /*---------------------------- VENTAJAS -----------------------------*/

  .ventajas-titulo {
    font-size: 3rem;
  }

  .ventajas-descripcion {
    max-width: 100%;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .ventajas-container-items {
    gap: 1rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .ventajas-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .ventajas-container-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1.5rem;
    background-color: #38505a;
  }

  .ventajas-item p {
    color: white;
    font-weight: 500;
  }

}
