
nav {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-img-logo {
  height: 2rem;
}

.nav-img-logo img {
  height: 2.5rem;
}

.nav-listado-items {
  display: flex;
  list-style: none;
}

li {
  min-width: 4rem;
  height: 2rem;
  margin: 0 8px;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.nav-btn-item {
  height: 100%;
  min-width: 4rem;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
  padding: 8px 0;
}

li:hover a {
  transition: all 0.1s linear;
  border-bottom: 3px solid #43b7a2;
  padding: 8px 0;
}

li:hover a {
  transition: all 0.1s linear;
  color: #43b7a2;
}

.btn-nav-listado-items-movil {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  background-color: transparent;
  color: #43b7a2;
  transition: all 0.3s ease;
}

.btn-nav-listado-items-movil:hover {
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.btn-nav-listado-items-movil {
  display: none;
}

@media (max-width: 426px)  {

  .btn-nav-listado-items-movil {
    display: block;
  }

  .nav-listado-items {
    display: none;
  }

  .nav-listado-items-movil {
    width: 70%;
    height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 60px;
    right: 0%;
    padding: 1rem 0;
  }

  li {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li:hover a {
    transition: all 0.1s linear;
    border-bottom: 0px solid transparent;
    color: #222222;
    padding: 0;
    font-size: 0.8rem;
  }

  .nav-btn-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all 0.3s ease;
    border-radius: 5px;
  }

  li:hover {
    background-color: #43b7a2;
    transition: all 0.3s ease;
  }

  .nav-listado-items-movil {
    display: none;
  }

  .btn-nav-listado-items-movil:hover  .nav-listado-items-movil{
    display: block;
  }

  .nav-listado-items-movi:focus-within {
    display: none;
  }

}


@media (600px <= width <= 799px) {
  .nav-listado-items {
    display: none;
  }
}
