<nav>
  <div class="nav-img-logo">
    <img src="../../../assets/img/Logo-transp.png" alt="" />
  </div>
  <ul class="nav-listado-items">
    <li><a href="#inicio-principal" class="nav-btn-item">Inicio</a></li>
    <li><a href="#nosotros-principal" class="nav-btn-item">Nosotros</a></li>
    <li><a href="#servicios-pricipal" class="nav-btn-item">Servicios</a></li>
    <li><a href="#destinos-principal" class="nav-btn-item">Destinos</a></li>
    <li><a href="#promociones-principal" class="nav-btn-item">Promociones</a></li>
    <li><a href="#ventajas-principal" class="nav-btn-item">Ventajas</a></li>
    <li><a href="" class="nav-btn-item">Reservar</a></li>
  </ul>
</nav>
