<div class="ventajas-encabezado">
  <div class="ventajas-container-title">
    <h2 class="ventajas-titulo">Ven<span>tajas</span></h2>
  </div>
  <p class="ventajas-descripcion">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita aut
    aspernatur voluptatibus at officia. Rerum fugit laborum aspernatur,
    eaque omnis repellat natus dignissimos numquam vel amet non accusamus
    veritatis fugiat?
  </p>
</div>
<div class="ventajas-container-items">
  <div class="ventajas-item">
    <div class="ventajas-container-icon">
      <i class="uil uil-star"></i>
    </div>
    <p>Servicio seguro y confiable</p>
  </div>
  <div class="ventajas-item">
    <div class="ventajas-container-icon">
      <i class="uil uil-star"></i>
    </div>
    <p>Flexibilidad</p>
  </div>
  <div class="ventajas-item">
    <div class="ventajas-container-icon">
      <i class="uil uil-star"></i>
    </div>
    <p>Turismo sustentable</p>
  </div>
  <div class="ventajas-item">
    <div class="ventajas-container-icon">
      <i class="uil uil-star"></i>
    </div>
    <p>Precio garantizado</p>
  </div>
</div>
