<div class="servicios-item-wrap">
  <div class="container-imagen-servicios">
    <img
      src="https://seyalexander.github.io/DevPuririkuy/assets/img/img-destinos.jpg"
      alt=""
    />
  </div>
  <div class="container-detalle">
    <app-button-fill [claseButton]="'btn-servicios'" />
    <span class="Descripcion-tarjeta">{{ detalleTarjeta }}</span>
    <span class="container-precio"
      ><span class="precio">{{ precioTarjeta }}</span></span
    >
    <span class="lugares-tarjeta">{{ lugaresTarjeta }}</span>
  </div>
</div>
