<div class="destino-encabezado">
  <div class="destino-container-title">
    <h2 class="destino-titulo">Con<span>tacto</span></h2>
  </div>
  <p class="destino-descripcion">
    Si tiene alguna consulta, póngase en contacto con nosotros, estaremos gustosos de poder ayudarle.
  </p>
</div>
<div class="contacto-container-items">
  <div class="contacto-container-imagen-fondo">
    <img src="https://seyalexander.github.io/DevPuririkuy/assets/img/objetivos.jpg" alt="">
  </div>
  <div class="contacto-container-inputs">
    <input type="text" placeholder="Ingresar nombre completo" name="" id="">
    <input type="text" placeholder="Ingresar número celular o teléfono" name="" id="">
    <input type="text" placeholder="Ingresar servicio a consultar" name="" id="">
    <button>Enviar</button>
  </div>
</div>
