.promociones-encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promociones-container-title {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.promociones-titulo {
  display: inline-block;
  font-size: 4rem;
}

.promociones-titulo span {
  color: #359483;
}

.destino-encabezado h2 {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.promociones-descripcion {
  max-width: 80%;
  color: #38505a;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.promociones-container-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
  justify-content: center;
  margin-top: 1.5rem;
}

@media (max-width: 320px)  {
  .promociones-titulo {
    font-size: 3rem;
  }

  .promociones-descripcion {
    max-width: 100%;
    font-weight: 500;
  }

  app-promociones-tarjeta {
    width: 100%;
  }

}

@media (321px <= width <= 426px) {
  .promociones-container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
    justify-content: center;
  }

  .promociones-titulo {
    font-size: 3rem;
  }

  app-promociones-tarjeta {
    width: 47%;
  }

}

@media (600px <= width <= 799px) {

  .promociones-container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}


